absl-py==2.2.2
alabaster==0.7.13
annotated-types==0.7.0
app-model==0.2.8
appdirs==1.4.4
apturl==0.5.2
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
bcrypt==3.1.7
blinker==1.4
Brlapi==0.7.0
build==1.2.2.post1
cachetools==5.5.2
cachey==0.2.1
certifi==2025.4.26
chardet==3.0.4
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.3
comm==0.2.2
command-not-found==0.3
contourpy==1.1.1
cryptography==2.8
cupshelpers==1.0
cupy-cuda11x==12.3.0
cycler==0.12.1
Cython==3.1.1
dask==2023.5.0
dbus-python==1.2.16
debugpy==1.8.14
decorator==5.2.1
defer==1.0.6
distro==1.4.0
distro-info==0.23+ubuntu1.1
docstring_parser==0.16
docutils==0.20.1
duplicity==0.8.12.0
entrypoints==0.3
executing==2.2.0
fasteners==0.14.1
fastrlock==0.8.3
flatbuffers==25.2.10
fonttools==4.57.0
freetype-py==2.5.1
fsspec==2025.3.0
future==0.18.2
gast==0.4.0
git-filter-repo==2.47.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.7.0
HeapDict==1.0.1
hsluv==5.0.4
httplib2==0.14.0
idna==3.10
ids-peak==1.10.0.0.4
ids-peak-ipl==1.15.0.0.3
imageio==2.35.1
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
in-n-out==0.2.1
ipykernel==6.29.5
ipython==8.12.3
jax==0.4.13
jedi==0.19.2
jetson-stats==4.2.3
Jetson.GPIO==2.1.1
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==2.12.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy_loader==0.4
lfs==0.2
libclang==18.1.1
llvmlite==0.41.1
locket==1.0.0
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
magicgui==0.9.1
Mako==1.1.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
memory-profiler==0.61.0
ml-dtypes==0.2.0
mock==3.0.5
monotonic==1.5
mpi4py==3.0.3
napari==0.4.19.post1
napari-console==0.0.9
napari-plugin-engine==0.2.0
napari-plugin-manager==0.1.4
napari-svg==0.1.10
nest-asyncio==1.6.0
netifaces==0.10.4
networkx==3.1
npe2==0.7.8
numba==0.58.1
numpy==1.24.4
numpydoc==1.7.0
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
packaging==25.0
pandas==2.0.3
paramiko==2.6.0
parso==0.8.4
partd==1.4.1
pbr==6.1.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
Pint==0.21.1
pkg_resources==0.0.0
pkgconfig==1.5.5
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
pooch==1.8.2
prompt_toolkit==3.0.51
protobuf==4.25.6
psutil==7.0.0
psygnal==0.11.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-spy==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11==2.13.6
pycairo==1.16.2
pyconify==0.1.6
pycrypto==2.6.1
pycups==1.9.73
pydantic==2.10.6
pydantic-compat==0.1.2
pydantic_core==2.27.2
Pygments==2.19.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.9
pyparsing==3.1.4
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
pyqtgraph==0.13.3
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pyserial==3.4
PySide6==6.6.3.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-dbusmock==0.19
python-debian==0.1.36+ubuntu1.1
pytz==2025.2
PyWavelets==1.4.1
pyxdg==0.26
PyYAML==6.0.2
pyzmq==26.4.0
qtconsole==5.6.1
QtPy==2.4.3
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-unixsocket==0.2.0
rich==14.0.0
rpds-py==0.20.1
RPi.GPIO==0.7.1
rsa==4.9
scikit-image==0.21.0
scipy==1.10.1
SecretStorage==2.3.1
shellingham==1.5.4
shiboken6==6.6.3.1
simplejson==3.16.0
sip==4.19.21
six==1.17.0
smbus2==0.4.2
snowballstemmer==3.0.1
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
superqt==0.6.7
systemd-python==234
tabulate==0.9.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow @ file:///media/aharonijetson1/General%20Storage/tensorflow-2.12.0%2Bnv23.05-cp38-cp38-linux_aarch64.whl#sha256=8371d055d9c5b40cea5ca788d74ec3ff059b4df78b141ca9c5a1b1d30d753c34
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.35.0
tensorrt==8.5.2.2
termcolor==2.4.0
testresources==2.0.1
tifffile==2023.7.10
tomli==2.2.1
tomli_w==1.0.0
toolz==1.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triangle==20200424
typer==0.15.4
typing_extensions==4.13.2
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
urllib3==2.2.3
urwid==2.0.1
vispy==0.14.2
wadllib==1.3.3
wcwidth==0.2.13
Werkzeug==3.0.6
wrapt==1.17.2
xkit==0.0.0
zipp==3.20.2
