# Ignore virtual environment directories
venv/
*.venv
env/
*.env

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/
Saved_Media/
Assets/
# Ignore distribution and build directories
build/
dist/
*.egg-info/

export_log.txt